<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanRunner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
				<key>dateExpires</key>
				<string>10/5/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxAccounts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigationNative.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxSpeech.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Polyline.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Solar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0AAD130DABE6675EA9EE11B4208979250D57E052</string>
						<key>dateExpires</key>
						<string>10/5/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR94DX457K</string>
						<key>name</key>
						<string>Bradley Kukuk</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HR94DX457K.com.Canmonkey.CanRunner</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HR94DX457K</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HR94DX457K.com.Canmonkey.CanRunner</string>
				</array>
			</dict>
			<key>name</key>
			<string>CanRunner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>88f9a781-fbac-4f61-a4a0-af943fba4c96</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Canmonkey.CanRunner</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HR94DX457K</string>
				<key>name</key>
				<string>Bradley Kukuk</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
